body {
	margin: 0;
	padding: 0;
}

.container {
	margin: 0;
	padding: 0;
}

.box {
	width: 200px;
	height: 200px;
	position: absolute;
}

#pink {
	background-color: #EE3E64;
	left:0;
	top:0;
}

#blue {
	background-color: #2B7DB9;
	right: 0;
	top: 0;
}

#green {
	background-color: #B7D84B;
	left: 0;
	bottom: 0;
}

#yellow {
	background-color: #FAFF16;
	right: 0;
	bottom: 0;
}



